#img1{
    display:inline-block;
    width:80px;
}

#img2 {
    display: inline-block;
    width: 200px;
    position:relative;
    bottom:25px;
}

#img3 {
    display: inline-block;
    width: 30px;
    position:relative;
    top:10px;
}
